<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bryanjswift.simplenote" 
    android:versionCode="2" android:versionName="1.0.0">
  <application android:label="@string/app_name" android:icon="@drawable/snlogo" android:theme="@style/Theme.SimpleNote">
    <uses-library android:name="android.test.runner"/>
    <activity android:name=".ui.SimpleNoteSplash" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".ui.SimpleNoteList" android:label="@string/app_name" />
    <activity android:name=".ui.SimpleNoteEdit" android:label="@string/app_name" />
    <activity android:name=".ui.LoginDialog" android:windowNoTitle="true"
        android:label="@string/signin" android:theme="@style/NoTitleDialogTheme" />
    <activity android:name=".Preferences" android:label="@string/menu_preferences" />
    <service android:name=".service.SyncService" android:enabled="true" android:exported="false" />
    <service android:name=".service.DailyService" android:enabled="true" android:exported="false" />
    <receiver android:name=".service.SyncService$Starter" />
    <receiver android:name=".service.DailyService$Starter" />
  </application>
  <uses-sdk android:minSdkVersion="7"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <instrumentation android:name="android.test.InstrumentationTestRunner"
      android:targetPackage="com.simplenote.android" android:label="Tests for My App"/>
</manifest>
